##
## CredentialsParameterDefinition
##
#if ( ${required} )
#set ( ${required} = "true" )
#end
##
        <com.cloudbees.plugins.credentials.CredentialsParameterDefinition plugin="credentials@2.1.9">
          <name>${name}</name>
          <description>${description}</description>
          <defaultValue>${defaultValue}</defaultValue>
          <credentialType>${credentialType}</credentialType>
          <required>${required}</required>
        </com.cloudbees.plugins.credentials.CredentialsParameterDefinition>