##
## FileParameterDefinition
##
        <hudson.model.FileParameterDefinition>
          <name>${name}</name>
          <description>${description}</description>
        </hudson.model.FileParameterDefinition>