##
## PasswordParameterDefinition
##
        <hudson.model.PasswordParameterDefinition>
          <name>${name}</name>
          <description>${description}</description>
          <defaultValue>${defaultValue}</defaultValue>
        </hudson.model.PasswordParameterDefinition>