##
## jenkins git plugin
## <Default>
## branch: master
## changelog: true
## credentialsId: none
## poll: true
##

    git \
#if ( ${branch} && "master" != ${branch} )
      branch: '${branch}', \
#end
#if ( ${changelog} && "false" == ${changelog} )
      changelog: false, \
#end
#if ( ${credentialsId} )
      credentialsId: '${credentialsId}', \
#end 
#if ( ${poll} && "false" == ${poll} )
      poll: false, \
#end
      url: '${url}'
