##
## jenkins sh plugin
## <Default>
## returnStdout: false
## returnStatus: false
## encoding: UTF-8
##

#if ( ${returnStdout} && ${returnStdout} == "true" && ${returnStatus} && ${returnStatus} == "true" )
#set ( ${returnStatus} = "false" )
#end
    sh \
#if ( ${encoding} && "UTF-8" != ${encoding} && "utf-8" != ${encoding} )
      encoding: '${encoding}', \
#end
#if ( ${returnStdout} && "true" == ${returnStdout} )
      returnStdout: true, \
#end
#if ( ${returnStatus} && "true" == ${returnStatus} )
      returnStatus: true, \
#end
      script: '''${script}'''
