##
## jenkins sh plugin
## <Default>
## returnStdout: false
## returnStatus: false
## encoding: UTF-8
##
#if ( ${sh.returnStdout} && ${sh.returnStdout} == "true" && ${sh.returnStatus} && ${sh.returnStatus} == "true" )
#set ( ${sh.returnStatus} = "false" )
#end
sh \
#if ( ${sh.encoding} && "UTF-8" != ${sh.encoding} && "utf-8" != ${sh.encoding} )  encoding: '${sh.encoding}', \
#end
#if ( ${sh.returnStdout} && "true" == ${sh.returnStdout} )  returnStdout: true, \
#end
#if ( ${sh.returnStatus} && "true" == ${sh.returnStatus} )  returnStatus: true, \
#end
  script: '''${sh.script}'''
